img{
  width: 286px;
  height: 150px;
}
.color{
  background-color: red;
}
h1{
  width: 100%;
  text-align: center;
}
.gif{
  width: 286px;
  height: 150px;
}
.badger{
  z-index: 9999;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  right: -25px;
  top: -25px;
  object-fit: cover;
}
