<!-- <h1 class="text-center">Projetos</h1>
<h2 style="margin-left: 2rem" class="text-start">Projetos em Destaque</h2>
<h3 style="font-size: 1rem; margin-left: 2rem">
  Essas são as principais projetos, podendo conferir todos meus repositorios e
  projetos no GitHub.
</h3> -->
<div class="container">
  <div class="row">
    <!-- item 1 -->
    <div class="col d-flex justify-content-center mb-4 mt-5">
      <div class="card" style="width: 18rem">
        <div class="card-body d-flex align-items-center flex-column">
          <img
            src="https://llucasgomes.github.io/portifolio/assets/image/iphone.png"
            alt="Linguagem de Banco de Dados - SQL "
          />
          <h5 class="card-title mt-2">Clone Iphone</h5>
          <p class="card-text text-center">
            Este é um projeto onde faço um clone do Site de Vendas do Iphone
          </p>
          <div>
            <button type="button" class="btn btn-outline-secondary px-2">
              GitHub
            </button>
            <button type="button" class="btn btn-outline-secondary ms-1 px-3">
              Page
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- item 2 -->
    <div class="col d-flex justify-content-center mb-4 mt-5">
      <div class="card" style="width: 18rem">
        <div class="card-body d-flex align-items-center flex-column">
          <img
            src="https://llucasgomes.github.io/portifolio/assets/image/login.png"
            alt="Linguagem de Banco de Dados - SQL "
          />
          <h5 class="card-title mt-2">Tela de Login</h5>
          <p class="card-text text-center">
            Esse é um Projeto onde faço Tela de Login, onde utilizo HTML CSS JS
          </p>
          <div>
            <button type="button" class="btn btn-outline-secondary px-2">
              GitHub
            </button>
            <button type="button" class="btn btn-outline-secondary ms-1 px-3">
              Page
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- item 3 -->
    <div class="col d-flex justify-content-center mb-4 mt-5">
      <div class="card" style="width: 18rem">
        <div
          class="card-body d-flex align-items-center flex-column position-relative"
        >
          <img
            src="/assets/images/skills/angular.png"
            alt="" class="badger position-absolute"
          />
          <img
            style="object-fit: cover"
            src="https://ae01.alicdn.com/kf/HLB1rn6bXZ_vK1RkSmRyq6xwupXaG/Conjunto-de-suti-de-lingerie-de-renda-sexy-feminino-novo-vogue-chique-conjuntos-breve-lady-lace.jpg_Q90.jpg_.webp"
            alt="Linguagem de Banco de Dados - SQL "
          />
          <h5 class="card-title mt-2">Mary Moda Intima</h5>
          <p class="card-text text-center">
            Esse é um Projeto onde faço Site de Peças Intimas Femêninas
          </p>
          <div>
            <button type="button" class="btn btn-outline-secondary px-2">
              GitHub
            </button>
            <button type="button" class="btn btn-outline-secondary ms-1 px-3">
              Page
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
