<div class="container">
  <!-- Linha 03 -->
  <div class="row">
    <!-- item 07 -->
    <div class="col d-flex justify-content-center mb-4 mt-5">
      <div class="card" style="width: 18rem">
        <div class="card-body d-flex align-items-center flex-column">
          <img src="/assets/images/skills/soft-skills.png" alt="SoftSkills" />
          <h5 class="card-title mt-2">Soft Skills</h5>
          <ul class="card-text">
            <li>1. Boa comunicação</li>
            <li>2. Trabalho em equipe</li>
            <li>3. Inteligência emocional</li>
            <li>4. Gerenciamento de tempo</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- item 08 -->
    <div class="col d-flex justify-content-center mb-4 mt-5">
      <div class="card" style="width: 18rem">
        <div class="card-body d-flex align-items-center flex-column">
          <img
            src="/assets/images/skills/github.png"
            alt="Versionamento de Codigo - GitHub"
          />
          <h5 class="card-title mt-2">GitHub</h5>
          <p class="card-text text-center">
            Plataforma para gerencimaneto de projetos, o branch, o pull,
            repositório e a comparação entre dois ou mais commits...
          </p>
        </div>
      </div>
    </div>
    <!-- item 09 -->
    <div class="col d-flex justify-content-center mb-4 mt-5">
      <div class="card" style="width: 18rem">
        <div class="card-body d-flex align-items-center flex-column">
          <img
            src="/assets/images/skills/icons8-git-96.png"
            alt="Linguagem de Programação - JAVASCRIPT"
          />
          <h5 class="card-title mt-2">Git</h5>
          <p class="card-text text-center">
            Com este software conseguimos gerar registros dos nossos projetos,
            mantendo o controle em quais arquivos foram alterados e por quem.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Linha 04 -->
  <div class="row">
    <!-- item 10 -->
    <div class="col d-flex justify-content-center mb-4 mt-5">
      <div class="card" style="width: 18rem">
        <div class="card-body d-flex align-items-center flex-column">
          <img
            src="/assets/images/skills/agile.png"
            alt="Metodologias Ageis "
          />
          <h5 class="card-title mt-2">Metodologias Ágeis</h5>

          <p class="card-text text-center">
            Conhecimento em realização de projetos ágeis com SCRUM
          </p>
        </div>
      </div>
    </div>
    <!-- item 11 -->
    <div class="col d-flex justify-content-center mb-4 mt-5">
      <div class="card position-relative" style="width: 18rem">
        <div class="card-body d-flex align-items-center flex-column">
          <img
            src="/assets/images/skills/estudando.gif"
            alt=""
            class="badger position-absolute"
          />
          <img
            src="/assets/images/skills/typescript.png"
            alt="Linguagem de Programação - JAVA"
          />
          <h5 class="card-title mt-2">TypeScript</h5>
          <p class="card-text text-center">
            Programação Orientada a Objetos e linguagem Java
          </p>
        </div>
      </div>
    </div>
    <!-- item 12 -->
    <div class="col d-flex justify-content-center mb-4 mt-5">
      <div class="card position-relative" style="width: 18rem">
        <div class="card-body d-flex align-items-center flex-column">
          <img
            src="/assets/images/skills/estudando.gif"
            alt=""
            class="badger position-absolute"
          />
          <img
            src="/assets/images/skills/logo-angular.png"
            alt="Editr de Codigo - Visual Studio Code"
          />
          <h5 class="card-title mt-2">Angular</h5>
          <p class="card-text text-center">
            Utilizado para criar aplicações web SPA, aplicações mobile ou até
            mesmo aplicações desktop
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Linha 05 -->
  <div class="row">
    <!-- item 13 -->
    <div class="col d-flex justify-content-center mb-4 mt-5">
      <div class="card" style="width: 18rem">
        <div class="card-body d-flex align-items-center flex-column">
          <img
            src="/assets/images/skills/bootstrap-logo-shadow.png"
            alt="Bootstrap "
          />
          <h5 class="card-title mt-2">Bootstrap</h5>

          <p class="card-text text-center">
            Conhecimento básico framework web para desenvolvimento de sites e
            aplicações usando HTML, CSS e JavaScript
          </p>
        </div>
      </div>
    </div>
    <!-- item 14 -->
    <div class="col d-flex justify-content-center mb-4 mt-5">
      <div class="card" style="width: 18rem">
        <div class="card-body d-flex align-items-center flex-column">

          <img
            src="https://bigid.com/wp-content/uploads/2020/03/icons-eugdpr.png"
            alt="Lei Geral de Proteção de Dados ( LGPD )"
          />
          <h5 class="card-title mt-2">LGPD</h5>
          <p class="card-text text-center">
            Conhecimento básico <br> Lei Geral de Proteção de Dados
          </p>
        </div>
      </div>
    </div>
    <!-- item 15 -->
    <!-- <div class="col d-flex justify-content-center mb-4 mt-5">
      <div class="card position-relative" style="width: 18rem">
        <div class="card-body d-flex align-items-center flex-column">
          <img
            src="/assets/images/skills/estudando.gif"
            alt=""
            class="badger position-absolute"
          />
          <img
            src="/assets/images/skills/logo-angular.png"
            alt="Editr de Codigo - Visual Studio Code"
          />
          <h5 class="card-title mt-2">Angular</h5>
          <p class="card-text text-center">
            Utilizado para criar aplicações web SPA, aplicações mobile ou até
            mesmo aplicações desktop
          </p>
        </div>
      </div>
    </div> -->
  </div>
</div>
