<nav class="navbar navbar-expand-lg navbar-light bg-dark header">
  <div class="container-fluid d-flex align-items-center">
    <ul class="d-flex justify-content-center gap-3 m-auto">
      <a href="https://www.linkedin.com/in/llucasgomess/" target="_blank">
        <li><i class="fa-brands fa-linkedin col"></i></li>
      </a>
      <a href="https://github.com/llucasgomes" target="_blank">
        <li><i class="fa-brands fa-github-square col"></i></li>
      </a>
      <a href="https://api.whatsapp.com/send?phone=5592988471665&text=Ola%20Gostei%20de%20seu%20Portfolio" target="_blank">
        <li><i class="fab fa-whatsapp-square col"></i></li>
      </a>
    </ul>
  </div>
</nav>
