<section
  class="container-sobre d-flex pt-5 justify-content-around align-items-center"
>
  <div class="w-25 d-flex align-items-center justify-content-center">
    <div class="moldura-da-foto d-flex flex-column align-items-center">
      <img
        src="/assets/images/about/foto-perfil.jpg"
        alt="foto do perfil"
        data-bs-toggle="tooltip"
        data-bs-placement="top"
        title="Developer Full Stack Jr"
      />
      <p class="fs-3 mt-2">Lucas Gomes</p>
    </div>
  </div>
  <div
    class="sobre w-50 p-auto d-flex flex-column align-items-center justify-content-center px-3"
  >
    <p class="fs-5 m-auto pt-5">
      Sou Lucas da Silva, tenho 32 anos, Sou Desenvolvedor Web em busca da
      primeira oportunidade na área desde que comecei a estudar desenvolvimento,
      meu foco é no Front-End. Venho aprimorando meus conhecimentos em
      <strong>HTML</strong>,<strong>CSS</strong> e <strong>JAVASCRIPT</strong>,
      e sou aluno em<strong>Desenvolvimento Full Stack Jr</strong>.
    </p>
    <p class="fs-5 m-auto pt-2">
      Estou em uma transição de carreira para a
      <span>área tech</span>,preferencialmente no desenvolvimento de sistemas
      front-end, na qual tenho desejo de atuar profissionalmente. Cada dia fica
      mais estuasiasmante por cada conhecimento que venho adquirindo nessa nova
      trajetoria profissional.
    </p>
  </div>
  <p class="fs-1 position-absolute assinatura">Lucas da Silva Gomes</p>
</section>
