<h1 class="text-center">Skills</h1>
<h2 style="margin-left: 2rem;" class="text-start">Habilidades em Destaque</h2>
<h3 style="font-size: 1rem;margin-left: 2rem;" >
  Essas são as principais habilidades e tecnologias que auxiliam em meu
  desempenho no dia a dia de desenvolvedor web.
</h3>
<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-center mb-4 mt-5">
      <div class="card" style="width: 18rem">
        <div class="card-body d-flex align-items-center flex-column">
          <img
            src="/assets/images/skills/logo-html5.png"
            alt="Linguagem de Marcação -HTML 5 "
          />
          <h5 class="card-title mt-2">HTML 5</h5>
          <p class="card-text text-center">
            Tenho conhecimento de como estruturar o HTML usando tags semânticas
          </p>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center mb-4 mt-5">
      <div class="card" style="width: 18rem">
        <div class="card-body d-flex align-items-center flex-column">
          <img
            src="/assets/images/skills/logo-css3.png"
            alt="Linguagem de Estilização do HTML - CSS 3"
          />
          <h5 class="card-title mt-2">CSS 3</h5>
          <p class="card-text text-center">
            Tenho conhecimento de caixas,posisiconamento,Flexbox e Grid.
          </p>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center mb-4 mt-5">
      <div class="card" style="width: 18rem">
        <div class="card-body d-flex align-items-center flex-column">
          <img
            src="/assets/images/skills/logo-js.png"
            alt="Linguagem de Programação - JAVASCRIPT"
          />
          <h5 class="card-title mt-2">JAVASCRIPT</h5>
          <p class="card-text text-center">
            Utilizado para controlar o HTML e o CSS, para manipular
            comportamentos de página.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center mb-4 mt-5">
      <div class="card" style="width: 18rem">
        <div class="card-body d-flex align-items-center flex-column">
          <img
            src="/assets/images/skills/logo-sql.png"
            alt="Linguagem de Banco de Dados - SQL "
          />
          <h5 class="card-title mt-2">Banco de dados
          </h5>
          <p class="card-text text-center">Manipular de informações de banco de dados usando a linguagem SQL
          </p>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center mb-4 mt-5">
      <div class="card" style="width: 18rem">
        <div class="card-body d-flex align-items-center flex-column">
          <img
            src="/assets/images/skills/logo-java.png"
            alt="Linguagem de Programação - JAVA"
          />
          <h5 class="card-title mt-2">Java</h5>
          <p class="card-text text-center">
            Programação Orientada a Objetos e linguagem Java
          </p>
        </div>
      </div>
    </div>
    <div class="col d-flex justify-content-center mb-4 mt-5">
      <div class="card" style="width: 18rem">
        <div class="card-body d-flex align-items-center flex-column">
          <img  class="gif" src="/assets/images/skills/yoda.gif" alt="">
          <h5 class="card-title mt-2">JAVASCRIPT</h5>

          <button type="button" class="btn btn-outline-info">Mais Informações</button>
        </div>
      </div>
    </div>
  </div>
</div>
