<app-banner></app-banner>
<h2 style="text-align: center; font-size: 2rem" class="mt-5">Habilidades</h2>
<h3 style="font-size: 1rem; text-align: center" class="mt-3 px-2">
  Essas são as principais habilidades e tecnologias que auxiliam em meu
  desempenho no dia a dia de desenvolvedor web.
</h3>
<app-skills-initial></app-skills-initial>
<div class="w-100 d-flex justify-content-center mb-5 mt-2">
  <button type="button" class="btn btn-outline-secondary col-auto " [routerLink]="['']">Mais Informações</button>

</div>
<h2 style="text-align: center; font-size: 2rem" class="mt-5">Projetos</h2>
<h3 style="font-size: 1rem; text-align: center" class="mt-3 px-2">
  Essas são as principais projetos, podendo conferir todos meus repositorios e
  projetos no GitHub
</h3>
<app-project-initial></app-project-initial>
<div class="w-100 d-flex justify-content-center mb-5 mt-2">
  <button type="button" class="btn btn-outline-secondary col-auto " [routerLink]="['/projects']">Ver mais</button>

</div>

